<!-- Author: Dawn Dean - HTML & CSS -->
<html>
<head>
  <!--- responsive webpage requires, viewport, content attribute -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Blog Site for Mike & Judy">
  <meta name="keywords" content="web design, blog">
  <meta name="author" content="Mike - Judi">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/launcher.css" />

  <title>Splash Page | Judi & Mike</title>
</head>



<body>

  <div class="split left">
    <div class="centered" style="width: 950px;"> 
      <!-- END HEADER -->
      <!-- BIRDS -->
      <div>
        <div class="containerBirds">
          <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
          </div>
          <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
          </div>
          <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
          </div>
          <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
          </div>
        </div>

        <!--  END BIRDSSS-->

        <!--START MIKES LOGO HERE -->

        <center>
          <section id="landingPageLogo">
            <!-- because we want the logo to be in the center, place the logo in a div container -->
            <div class="container">
          <h1>
           <img src="Mikes Media/mikesFullName.png"
           alt="mike" class="mikeLogo" style ="width: 110%;" >
         </h1>

            </div>
          </section>
        </center>
      </div>
      <!--END MIKES LOGO HERE-->





      <!--ENTER BUTTON HERE -->
      <section id="enter">
        <div class="enterBtn">
          <a href="/michaelsfile">
        <button type="button" class="btn" id="myInput">Enter</button>
      </a></div>
      </section>

      <!--END ENTER BUTTON-->



      <!-- Go to Blogs Page Button -->
    
        <div class="homepage">
          <a href="michael">
       <button type="button" class="homepageBtn" id="myInput" style="">Go To Blogs</button>
     </a></div>

      <!-- End Go To Blogs Page Button -->

    </div>
  </div>

  <div class="split right">
    <div class="centered" style="width: 950px;">
   

      <!-- END HEADER -->
      <!-- BIRDS -->
      <div>
        <div class="containerBirds">
          <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
          </div>
          <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
          </div>
          <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
          </div>
          <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
          </div>
        </div>

        <!--  END BIRDSSS-->

        <!--START Judy LOGO HERE -->

        <!-- now we want to place the large judi logo in a section tag seperate from the header -->






        <center>
          <section id="JudisLandingPageLogo">
            <!-- place the logo in a div container -->
         <h1><img src="Judis Media/judiLogoWithWelcomeBack.png" alt="judi" class="center-fit" style ="width: 90%;" ></h1>  
          </section>
        </center>
      </div>
      <!--END Judy LOGO HERE-->


      <!--ENTER BUTTON HERE -->
      <section id="enter">
        <div class="judisEnterBtn">
          <a href="judisfile">
       <button type="button" class="judisBtn" id="myInput">Enter</button>
     </a></div>
      </section>

      <!--END ENTER BUTTON-->

      <!-- Go to Blogs Page Button -->
    <div>
        <div class="homepage">
          <a href="judi">
       <button type="button" class="homepageBtn"  style="">Go To Blogs</button>
     </a></div>
    </div>
      <!-- End Go To Blogs Page Button -->

    




    </div>
  </div>



</body>

</html>